## Importation

In [3]:
# Data manipulation and analysis
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Time series analysis
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# Feature engineering
from sklearn.preprocessing import StandardScaler

# Machine learning models
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor  # or any other regression model
from xgboost import XGBRegressor  # if you want to try XGBoost

# Model evaluation
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Hyperparameter tuning
from sklearn.model_selection import GridSearchCV

# Time series-specific models
from statsmodels.tsa.statespace.sarimax import SARIMAX


# Other utilities
from datetime import datetime
import os


# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [12]:
data = pd.read_csv('../Assets/train.csv')

In [13]:
data

,date,store_id,category_id,target,onpromotion,nbr_of_transactions
0,365,store_1,category_24,0.000,0,0.0
1,365,store_1,category_21,0.000,0,0.0
2,365,store_1,category_32,0.000,0,0.0
3,365,store_1,category_18,0.000,0,0.0
4,365,store_1,category_26,0.000,0,0.0
...,...,...,...,...,...,...
2248879,1626,store_9,category_23,539.725,0,2141.0
2248880,1626,store_9,category_20,84.177,0,2141.0
2248881,1626,store_9,category_15,1973.760,3,2141.0
2248882,1626,store_9,category_29,2.000,0,2141.0
2248883,1626,store_9,category_10,27.076,0,2141.0

In [14]:
data.shape

(2248884, 6)

In [15]:
data.info

<bound method DataFrame.info of          date store_id  category_id    target  onpromotion  \
0         365  store_1  category_24     0.000            0
1         365  store_1  category_21     0.000            0
2         365  store_1  category_32     0.000            0
3         365  store_1  category_18     0.000            0
4         365  store_1  category_26     0.000            0
...       ...      ...          ...       ...          ...
2248879  1626  store_9  category_23   539.725            0
2248880  1626  store_9  category_20    84.177            0
2248881  1626  store_9  category_15  1973.760            3
2248882  1626  store_9  category_29     2.000            0
2248883  1626  store_9  category_10    27.076            0

         nbr_of_transactions
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0
...                      ...
2248879               2141.0
2248880               2141.0
2248881               2141.0
2248882               2141.0
2248883               2141.0

[2248884 rows x 6 columns]>

In [16]:
data.isna().sum()

date                   0
store_id               0
category_id            0
target                 0
onpromotion            0
nbr_of_transactions    0
dtype: int64

In [17]:
print(f'Columns Names: {list(data.columns)}')

Columns Names: ['date', 'store_id', 'category_id', 'target', 'onpromotion', 'nbr_of_transactions']

In [ ]:
 = pd.read_csv('../Assets/train.csv')